/* custom-pdf-style.css */
body {
    background-color: #313131;
    color: #d6d6d6; /* Optional: to make the text readable on a black background */
}

/* Ensure other elements also adapt to the black background */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, blockquote, pre, code {
    background-color: #313131;
    color: #d6d6d6;
}

/* Change link color */
a {
    color: #6495ED; /* Use a softer blue color */
}

a:visited {
    color: #9370DB; /* Optional: Different color for visited links */
}